<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <div class="row justify-content-center">
      <h4 class="col-10 my-4">
        Alpha blog is a personal project of Gavin Rouse created in order to
        learn Ruby on Rails and showcase my ability.
      </h4>
    </div>
    <hr class="my-4">
    <h5>Welcome! Please explore and enjoy! </h5>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-info btn-lg" %>
  </div>
</div>